        h1 {
                        color: brown;
            }

            * {
                border: solid;
            }

            .header{
                background-color: antiquewhite;
            }
            .menu{
                background-color:cyan;
            }
            .image{
                display:flex;
                justify-content : space-evenly;
                flex-wrap : wrap;
            }
            .social{
                display:flex;
                justify-content : flex-end;
                flex-wrap : wrap;
            }

        